:root {
    --story-max-width: 1000px;
    --story-padding: 24px;
    --story-text-zoom: 1.3;
    --story-text-size: 2.2em;
    --story-text-size-applied: calc(var(--story-text-size) * var(--story-text-zoom));
    --story-image-blur-radius: 20px;
    --story-image-spread-radius: 20px;
    --story-image-margin-left: -10px;
    --story-image-margin-top: 60px;
    --story-image-margin-bottom: 0px;
    --story-image-zoom: 1.025;
    /* --story-image-zoom: 1; */
}

.story-background {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url('images/EV_MIS005B.PNG'); */
    background-position: left;
    /* background-attachment: fixed;  */
    width: 100%;
    min-height: 720px;
    /* background-position-x: -250px; */
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.story-text {
    margin: auto;
    max-width: var(--story-max-width);
    /* width: 100%; */
    display: block;
    margin-bottom: 18px;
    margin-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    font-family: 'Noto Sans JP', sans-serif;
}

.story-chapter {
    padding-left: var(--story-padding);
    padding-right: var(--story-padding);
    padding-bottom: 1px;
    padding-top: 20px;
}

.story-chapter-text {
    font-size: var(--story-text-size-applied);
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Futura Bk BT', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.story-chapter-phase {
    padding-left: var(--story-padding);
    padding-right: var(--story-padding);
}

.story-image {
    display: block;
    position: relative;
    margin-left: var(--story-image-margin-left);
    margin-top: var(--story-image-margin-top);
    padding-bottom: var(--story-image-margin-bottom);
    width: calc(100%*var(--story-image-zoom))
}

.story-image:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 99%;
    /* -moz-box-shadow: inset 0px 0px var(--story-image-blur-radius) var(--story-image-spread-radius) var(--background-color);
    -webkit-box-shadow: inset 0px 0px var(--story-image-blur-radius) var(--story-image-spread-radius) var(--background-color);
    box-shadow: inset 0px 0px var(--story-image-blur-radius) var(--story-image-spread-radius) var(--background-color); */
}

.story-image-small {
    width: 75%;
    height: 75%;
    margin: auto;
}

.story-divider {
    position: relative;
    margin-top: 160px;
    height: 140px;
}

.story-divider-custommargin1 {
    margin-top: 140px;
    height: 130px;
}

.story-divider:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 4px;
    /* background-image: radial-gradient(circle, white, transparent); */
}

.story-divider-addedmargintop {
    margin-top: 120px;
}