:root {
    --vmargin-text-italic: 30px;
    --vmargin-text-quoted: 30px;
    --lmargin-text-quoted: 10px;
    --weight-text-normal: 300;
    --weight-text-quoted: 400;
    --weight-text-italic: bold;
    --weight-text-italic-quoted: normal;
    --indent-paragraph: 0px;
}

p {
    font-weight: var(--weight-text-normal);
    text-indent: var(--indent-paragraph);
}


/* REDO */

.text-centered {
    text-align: center;
    margin: 20px;
}


/* REDO */

.text-quoted {
    margin-left: var(--lmargin-text-quoted);
    font-weight: var(--weight-text-quoted);
    margin-top: var(--vmargin-text-quoted);
    margin-bottom: var(--vmargin-text-quoted);
}

.text-quoted-inline {
    font-weight: var(--weight-text-quoted);
    display: inline;
}

.text-italic {
    /* margin-left: 10px; */
    font-style: italic;
    font-weight: var(--weight-text-italic);
    /* margin-left: 10px; */
    text-align: center;
    margin-top: var(--vmargin-text-italic);
    margin-bottom: var(--vmargin-text-italic);
}

.text-italic-quoted {
    font-style: italic;
    margin-left: var(--lmargin-text-quoted);
    font-weight: var(--weight-text-italic-quoted);
    margin-top: var(--vmargin-text-quoted);
    margin-bottom: var(--vmargin-text-quoted);
}

.text-glossary {
    color: goldenrod;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.text-title {
    text-align: center;
    font-weight: bold;
}


/*Necessary to avoid text size adjustments by Chrome based mobile browsers*/

p,
.text-quoted-inline,
.text-italic-quoted,
.text-italic,
.text-quoted,
.text-centered,
div {
    max-height: 999999px;
}