:root {
    --margin-text-italic: 30px;
    /* --margin-text-quoted: 28px; */
    --margin-text-quoted: 30px;
    --weight-text-quoted: 500;
}


/* REDO */

.text-centered {
    text-align: center;
    margin: 20px;
}


/* REDO */

.text-quoted {
    margin-left: 10px;
    font-weight: var(--weight-text-quoted);
    margin-top: var(--margin-text-quoted);
    margin-bottom: var(--margin-text-quoted);
}

.text-quoted-inline {
    font-weight: var(--weight-text-quoted);
    display: inline-block;
}

.text-italic {
    margin-left: 10px;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
    margin-top: var(--margin-text-italic);
    margin-bottom: var(--margin-text-italic);
}

.text-glossary {
    color: goldenrod;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.text-title {
    text-align: center;
    font-weight: bold;
}


/*Necessary to avoid text size adjustments by Chrome based mobile browsers*/

p,
.text-italic,
.text-quoted,
.text-centered,
div {
    max-height: 999999px;
}